/* .Typist .Cursor {
    display: inline-block; }
    .Typist .Cursor--blinking {
      opacity: 1;
      animation: blink 1s linear infinite; }
  
  @keyframes blink {
    0% {
      opacity: 1; }
    50% {
      opacity: 0; }
    100% {
      opacity: 1; } } */

body {
  font-family: "Circular-Loom";
  color: white;
  height: 100%;
  margin: 0px;
}

@font-face {
  font-weight: 400;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Book-cd7d2bcec649b1243839a15d5eb8f0a3.woff2') format('woff2');
}

@font-face {
  font-weight: 500;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Medium-d74eac43c78bd5852478998ce63dceb3.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Bold-83b8ceaf77f49c7cffa44107561909e4.woff2') format('woff2');
}

@font-face {
  font-weight: 900;
  font-style:  normal;
  font-family: 'Circular-Loom';

  src: url('https://cdn.loom.com/assets/fonts/circular/CircularXXWeb-Black-bf067ecb8aa777ceb6df7d72226febca.woff2') format('woff2');
}

#root {
  height: inherit;
}

/* .Typist {
    display: flex;
    justify-content: center;
    font-family: cursive;
    height: inherit;
    align-items: center;
}


.red {
  background-color: #FF324A;
}

.green {
  background-color: #31FFA6;
}

.blue {
  background-color: #206EFF;
}

.yellow {
  background-color: #FFFF99;
}

div {
  width: 2.5em;
  height: 2.5em;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 50%;
} */














/* @font-face {
	font-family: 'Circular';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1137/Circular-Book.woff') format('woff');
	font-weight: normal;
}

@font-face {
	font-family: 'Circular';
	src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1137/Circular-Bold.woff') format('woff');
	font-weight: bold;
}

* {
  box-sizing: border-box;
}

html,
body {
	background: #18212D;
}

body {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: white;
	font-family: 'Circular', 'sans-serif';
	-webkit-font-smoothing: antialiased;
}

section {
  display: flex;
  flex-direction: column;
	position: relative;
  width: 100%;
	max-width: 18rem;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

a {
  color: #206EFF;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  margin-bottom: 1rem;
}

footer span {
  opacity: .5;
}

.logo img {
  width: 75px;
  height: 16px;
}

article {
  display: flex;
  flex-direction: column;
	position: relative;
  width: 100%;
  min-height: 8rem;
  margin-bottom: 1rem;
  padding: 1rem;
}

.red {
  background-color: #FF324A;
}

.green {
  background-color: #31FFA6;
}

.blue {
  background-color: #206EFF;
}

.yellow {
  background-color: #FFFF99;
}

footer {
  padding-top: 2em;
}
* {
  text-align: center;
}

div {
    width: 2.5em;
    height: 2.5em;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 50%;
} */